externals/*
!Makefile.bdseq  
!Makefile.bohmgb  
!Makefile.dfefi  
!Makefile.ets  
!Makefile.gem  
!Makefile.gem0  
!Makefile.imp4dv  
!Makefile.libbds
!chease-patch.diff
!gem-tmppatch.diff

ual/fortran_interface/*.o
ual/python_interface/*.pyc
ual/python_interface/usr
ual/python_interface/*cache*_
ual/python_interface/build*
ual/python_interface/*.py
ual/xml/*.o
ual/constants/*.o
ual/types/*.o
ual/include
ual/lib
ual/usr

standalone/bin
standalone/lib
standalone/obj
standalone/include

uq/logs/*
uq/build*
uq/dist*
uq/*cache_*
uq/*.pyc
uq/*.egg-info*
uq/easymfw/*cache*_
uq/easymfw/*.pyc
uq/easymfw/utils/*cache*_
uq/easymfw/utils/*.pyc
uq/easymfw/templates/*cache*_
uq/easymfw/templates/*.pyc
uq/data/outputs/*.png
uq/data/outputs/*.db
uq/run-*.sh
uq/log-*
