*.pyc
*.pyo
*.o
*.so

ual/fortran_interface/*.o

build
*build*
*egg*
*dist*
usr
*cache*

*.swp
*.log

externals/*
!Makefile.bdseq  
!Makefile.bohmgb  
!Makefile.dfefi  
!Makefile.ets  
!Makefile.gem  
!Makefile.gem0  
!Makefile.imp4dv  
!Makefile.libbds

