externals/*
!Makefile.bdseq  
!Makefile.bohmgb  
!Makefile.dfefi  
!Makefile.ets  
!Makefile.gem  
!Makefile.gem0  
!Makefile.imp4dv  
!Makefile.libbds
!chease-patch.diff
!gem-tmppatch.diff

ual/fortran_interface/*.o
ual/python_interface/*.pyc
ual/python_interface/usr
ual/python_interface/*cache*_
ual/python_interface/build*
ual/python_interface/*.py
ual/xml/*.o
ual/constants/*.o
ual/types/*.o
ual/include
ual/lib

standalone/bin
standalone/lib
standalone/obj
standalone/include

uq/*cache_*
uq/*.pyc
uq/logs/*
uq/utils/*cache*_
uq/utils/*.pyc
uq/templates/*cache*_
uq/templates/*.pyc
uq/easypj/*cache*
uq/outputs/plots/*.png
uq/outputs/logs/test.*
uq/outputs/*.csv
uq/outputs/*.db
uq/*-job.sh
